input
{
    color:blue;
    background-color:lightgreen;
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding:20px 20px 20px 20px;
}
#add
{
    background-color: cornflowerblue;
    display: block;
    
    margin: 20px;
    margin-left:auto;
    margin-right:auto;

}
.danger
{
    color:red;
    background-color: darkgreen;
    margin: 20px;
    margin-left:auto;
    margin-right:auto;
}
#removeall 
{
    background-color:red;
    display: block;
    
    margin: 20px;
    margin-left:auto;
    margin-right:auto;
    
    
}